body {
    background-color: lightcyan;
}
.header1 {
    font-size: 400%;
    text-align: center;
    margin-top: 70px;

}
.header2 {
    font-size: 320%;
    text-align: center;
    color: gray;
    margin-top: 50px;
}
.firstp {
    font-size: 270%;
    position: relative;
    top: 100px;
    padding-left: 50px;
}
.word-space {
    letter-spacing: 17px;
}
.right{
    text-align: right;
    position: relative;
    top: 250px;
    padding-right: 50px;
    font-size: 250%;
}
.poloska {
    margin-top: 400px;
}
.foot {
    color: darkred;
    text-align: center;
    font-size: 300%;
    margin-top: 60px;
}